body {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  color: #212121;
  cursor: default;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  overflow: hidden;
}

.unselectable {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.button {
  border-radius: 3px;
  color: #212121;
  cursor: pointer;
  outline: 0;
  padding: 0;
}

.button::-moz-focus-inner {
  border: 0;
}

.button .icon {
  pointer-events: none;
}

.button.disabled {
  cursor: default;
  opacity: 0.3;
  pointer-events: none;
}

.sidebar {
  border-right: 1px solid #e0e0e0;
  height: 100%;
  position: fixed;
  width: 279px;
}

.no-sidebar .sidebar {
  pointer-events: none;
}

.content {
  -webkit-transition: padding-left 0.3s ease-in-out;
  box-sizing: border-box;
  height: 100%;
  padding-left: 280px;
  pointer-events: none;
  position: fixed;
  transition: padding-left 0.3s ease-in-out;
  width: 100%;
}

.content > * {
  pointer-events: auto;
}

.no-sidebar .content {
  padding-left: 0;
}
