body {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  color: #212121;
  cursor: default;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  overflow: hidden;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.sidebar {
  border-right: 1px solid #e0e0e0;
  height: 100%;
  position: fixed;
  -webkit-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
  width: 279px;
}

.sidebar.disabled {
  opacity: 0.6;
  pointer-events: none;
}

.content {
  box-sizing: border-box;
  height: 100%;
  padding-left: 280px;
  pointer-events: none;
  position: fixed;
  -webkit-transition: opacity 0.1s ease-in-out, padding-left 0.3s ease-in-out;
  transition: opacity 0.1s ease-in-out, padding-left 0.3s ease-in-out;
  width: 100%;
}

.content.disabled {
  opacity: 0.6;
}

.content.full-width {
  padding-left: 0;
}

.content > .content-child {
  pointer-events: auto;
}

.content.disabled > .content-child {
  pointer-events: none;
}
