.button-group-container::after,
.button-group::after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
}

.button-group.left {
  float: left;
}

.button-group.right {
  float: right;
}

.button {
  background-color: #f5f5f5;
  border: 1px solid #bdbdbd;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
  cursor: pointer;
  float: left;
  height: 28px;
  padding: 0 13px;
}

.button.active {
  background-color: #e0e0e0;
}

.button.disabled {
  opacity: .3;
  pointer-events: none;
}

.button-group.right > .button:last-child {
  margin-left: 9px;
}

.button-item {
  pointer-events: none;
  vertical-align: middle;
}

.button-toggle-icon-container {
  padding: 0 7px;
}

.button-toggle-icon {
  height: 27px;
  width: 20px;
}

.button-toggle-icon.icon-collapse {
  padding-right: 2px;
}

.button-toggle-icon-container[data-type='expand'] > .button-toggle-icon.icon-collapse {
  display: none;
}

.button-toggle-icon.icon-expand {
  padding-left: 2px;
}

.button-toggle-icon-container[data-type='collapse'] > .button-toggle-icon.icon-expand {
  display: none;
}

.button-icon {
  padding-right: 4px;
  width: 14px;
}

.button-icon.icon-load {
  height: 12px;
}

.button-icon.icon-save {
  height: 14px;
}

.button-label {
  display: inline-block;
  font-size: 11px;
  line-height: 27px;
  padding-top: 1px;
  pointer-events: none;
}

.button-input {
  position: absolute;
  visibility: hidden;
}
