.main {
  box-sizing: border-box;
  height: 100%;
  padding-left: 280px;
  pointer-events: none;
  position: fixed;
  -webkit-transition: opacity 0.1s ease-in-out, padding-left 0.3s ease-in-out;
  transition: opacity 0.1s ease-in-out, padding-left 0.3s ease-in-out;
  width: 100%;
}

.main.disabled {
  opacity: 0.6;
}

.main.full-width {
  padding-left: 0;
}

.main > .main-child {
  pointer-events: auto;
}

.main.disabled > .main-child {
  pointer-events: none;
}

.main-header {
  background-color: #f5f5f5;
  border-bottom: 1px solid #e0e0e0;
  min-width: 204px;
  padding: 9px;
}

.main-content {
  -webkit-overflow-scrolling: touch;
  background-color: #fff;
  height: calc(100% - 49px);
  overflow: auto;
  position: relative;
}

.main-content > * {
  position: absolute;
}

.main-content-retainer {
  height: 1px;
  pointer-events: none;
  width: 1px;
}
