.module {
  position: absolute;
  width: 240px;
}

.module-header {
  background-color: #212121;
  border-radius: 3px 3px 0 0;
  color: #fff;
  height: 32px;
}

.module-header::after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
}

.module-header-item {
  float: left;
}

.module-title {
  cursor: move;
  line-height: 29px;
  overflow: hidden;
  padding-left: 8px;
  padding-top: 3px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 198px;
}

.module-delete-button {
  cursor: pointer;
  font-size: 19px;
  line-height: 32px;
  text-align: center;
  width: 34px;
}

.module-delete-button:hover {
  opacity: 0.6;
}

.module-delete-button::before {
  content: '×';
}

.module-delete-button.disabled {
  pointer-events: none;
}

.module-content {
  background-color: #fff;
  border-left: 3px solid #212121;
  border-right: 3px solid #212121;
  position: relative;
}

.module-component {
  border: 0;
  display: block;
  height: 0;
  width: 100%;
}

.module-footer {
  background-color: #212121;
  border-radius: 0 0 3px 3px;
}

.module-footer.hide {
  border-bottom: 3px solid #212121;
}

.module-footer.hide > .module-footer-item {
  display: none;
}

.module-footer-item {
  height: 21px;
}

.module-footer-icon {
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 21px;
}

.module.loading .module-content-item {
  position: absolute;
  visibility: hidden;
}

.module.loading > .module-content::before {
  content: 'Loading...';
  display: block;
  font-size: 12px;
  line-height: 29px;
  text-align: center;
}

.module.loading.error > .module-content::before {
  background-color: #f8bbd0;
  content: 'ERROR';
  color: #f44336;
  font-size: 16px;
  font-weight: bold;
}

.module.moving > .module-header {
  background-color: #ffa726;
}

.module.deleting > .module-header {
  background-color: #f44336;
}
