.module {
  position: absolute;
  width: 240px;
}

.module-dragging .module > .module-content > .module-component {
  pointer-events: none;
}

.module.module-moving > .module-header {
  background-color: #ffa726;
}

.module.module-deleting > .module-header {
  background-color: #f44336;
}

.module.module-loading > .module-content {
  height: 29px;
  position: relative;
  text-align: center;
}

.module.module-loading > .module-content::before {
  content: 'Loading...';
  font-size: 12px;
  line-height: 29px;
}

.module.module-loading > .module-content > .module-component {
  position: absolute;
  visibility: hidden;
}

.module.module-loading > .module-content > .module-port-list {
  visibility: hidden;
}

.module.module-loading.module-error > .module-content::before {
  background-color: #f8bbd0;
  content: 'ERROR';
  color: #f44336;
  display: block;
  font-size: 16px;
  font-weight: bold;
}

.module-header {
  background-color: #212121;
  border-radius: 3px 3px 0 0;
  color: #fff;
  height: 32px;
}

.module-header-title {
  cursor: move;
  line-height: 29px;
  overflow: hidden;
  padding-left: 8px;
  padding-top: 3px;
  position: absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 86%;
}

.module-header-delete-button {
  cursor: pointer;
  font-size: 19px;
  line-height: 32px;
  position: absolute;
  right: 0;
  text-align: center;
  width: 14%;
}

.module-header-delete-button:hover {
  opacity: 0.6;
}

.module-header-delete-button::before {
  content: '×';
}

.module.module-delete-disabled > .module-header > .module-header-delete-button {
  pointer-events: none;
}

.module-content {
  background-color: #fff;
  border-left: 3px solid #212121;
  border-right: 3px solid #212121;
}

.module-component {
  border: none;
  height: 0;
  vertical-align: middle;
  width: 100%;
}

.module-port-list {
  background-color: #212121;
  border-top: 1px solid #212121;
  position: relative;
}

.module-footer {
  background-color: #212121;
  border-radius: 0 0 3px 3px;
}

.module-footer.hide {
  border-bottom: 3px solid #212121;
}

.module-footer.hide > * {
  display: none;
}

.module-footer-icon {
  height: 21px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 21px;
}

.module-port-select {
  border-radius: 3px;
  height: 21px;
  opacity: 0;
  width: 100%;
}
