.module-port-list {
  background-color: #212121;
  border-top: 1px solid #212121;
  position: relative;
}

.module-port {
  background-color: #fff;
  border-top: 1px solid #212121;
  border-bottom: 1px solid #212121;
  height: 42px;
  position: absolute;
  width: 100%;
}

.module-port::after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
}

.module-port.moving {
  z-index: 1;
}

.module-port.label-highlighted {
  background-color: #ffa726;
}

.module-port-plug {
  position: absolute;
  -webkit-transform: translate(246px, 9px);
  transform: translate(246px, 9px);
}

.module-port-socket {
  border: 2px solid #212121;
  height: 28px;
  pointer-events: none;
  position: absolute;
  -webkit-transform: translate(-44px, 5px);
  transform: translate(-44px, 5px);
  width: 28px;
}

.module-port-plug,
.module-port.socket-connected > .module-port-socket > span {
  background-color: #212121;
  cursor: crosshair;
  height: 24px;
  width: 24px;
}

.module-port.socket-connected > .module-port-socket > span {
  display: block;
  margin: 2px;
  pointer-events: auto;
}

.module-port[data-type='prop'] > .module-port-plug,
.module-port[data-type='prop'].socket-connected > .module-port-socket > span {
  border-radius: 3px;
}

.module-port[data-type='event'] > .module-port-plug,
.module-port[data-type='event'].socket-connected > .module-port-socket > span {
  border-radius: 50%;
}

.module-port[data-type='prop'] > .module-port-socket {
  border-radius: 6px;
}

.module-port[data-type='event'] > .module-port-socket {
  border-radius: 50%;
}

.module-port.plug-highlighted > .module-port-plug {
  background-color: #f44336;
}

.module-port.socket-highlighted > .module-port-socket {
  border-color: #f44336;
}

.module-port.socket-highlighted > .module-port-socket > span {
  background-color: #f44336;
}

.module-port-label {
  float: left;
  line-height: 42px;
  overflow: hidden;
  padding-left: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 196px;
}

.module-port-hide-button {
  cursor: pointer;
  float: left;
  height: 42px;
  width: 30px;
}

.module-port-hide-button:hover {
  opacity: 0.6;
}

.module-port.hide-disabled > .module-port-hide-button {
  pointer-events: none;
}

.module-port-select {
  border-radius: 3px;
  opacity: 0;
  width: 100%;
}
