.sidebar-content {
  background-color: #fafafa;
  height: calc(100% - 49px);
  overflow: hidden;
  position: relative;
  -webkit-transform: translateY(49px);
  transform: translateY(49px);
}

.sidebar-content > .scroller {
  position: absolute;
  width: 100%;
}
