.sidebar-module-container {
  position: absolute;
  width: 100%;
}

.sidebar-module {
  background-color: #212121;
  border-color: #212121;
  border-radius: 3px;
  color: #212121;
  margin: 12px auto;
  width: 240px;
}

.sidebar-module.clone {
  background-color: #ffa726;
  border-color: #ffa726;
  color: #ffa726;
  margin: 0;
  opacity: 0.6;
  position: absolute;
  z-index: 9999;
}

.sidebar-module-item {
  line-height: 29px;
  overflow: hidden;
  pointer-events: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sidebar-module-header {
  background-color: inherit;
  border-radius: 3px 3px 0 0;
  color: #fff;
  height: 29px;
  padding: 3px 8px 0;
}

.sidebar-module-content {
  background-color: #fff;
  border-color: inherit;
  border-radius: 0 0 3px 3px;
  border-style: solid;
  border-width: 0 3px 3px 3px;
  color: inherit;
  font-size: 12px;
  padding: 0 8px;
}
