.sidebar {
  border-right: 1px solid #e0e0e0;
  height: 100%;
  position: fixed;
  transition: opacity .1s ease-in-out;
  width: 279px;
}

.sidebar.disabled {
  opacity: .6;
  pointer-events: none;
}

.sidebar-header {
  background-color: #f5f5f5;
  border-bottom: 1px solid #e0e0e0;
  padding: 9px;
}

.sidebar-content {
  background-color: #fafafa;
  height: calc(100% - 49px);
  overflow: hidden;
  position: relative;
  touch-action: none;
}
