.sidebar-module {
  margin: 12px auto;
  width: 240px;
}

.sidebar-module.clone {
  left: 0;
  margin: 0;
  opacity: 0.6;
  position: absolute;
  top: 0;
  z-index: 9999;
}

.sidebar-module > .sidebar-module-child {
  pointer-events: none;
}

.sidebar-module-header {
  background-color: #212121;
  border-radius: 3px 3px 0 0;
  box-sizing: border-box;
  color: #fff;
  height: 32px;
  line-height: 29px;
  overflow: hidden;
  padding: 3px 8px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sidebar-module.clone > .sidebar-module-header {
  background-color: #ffa726;
}

.sidebar-module-content {
  background-color: #fff;
  border-bottom: 3px solid #212121;
  border-left: 3px solid #212121;
  border-radius: 0 0 3px 3px;
  border-right: 3px solid #212121;
  font-size: 12px;
  line-height: 29px;
  overflow: hidden;
  padding-left: 8px;
  padding-right: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sidebar-module.clone > .sidebar-module-content {
  border-bottom: 3px solid #ffa726;
  border-left: 3px solid #ffa726;
  border-right: 3px solid #ffa726;
  color: #ffa726;
}
