.sidebar-module {
  position: relative;
  margin: 12px auto;
  width: 240px;
}

.sidebar-module.clone {
  left: 0;
  margin: 0;
  opacity: 0.6;
  position: absolute;
  top: 0;
  z-index: 9999;
}

.sidebar-module > * {
  pointer-events: none;
}

.sidebar-module > .module-header {
  box-sizing: border-box;
  line-height: 29px;
  overflow: hidden;
  padding: 3px 8px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sidebar-module.clone > .module-header {
  background-color: #ffa726;
}

.sidebar-module > .module-content {
  border-radius: 0 0 3px 3px;
  font-size: 12px;
  line-height: 29px;
  overflow: hidden;
  padding-left: 8px;
  padding-right: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sidebar-module > .module-content {
  border-bottom: 3px solid #212121;
}

.sidebar-module.clone > .module-content {
  border-bottom: 3px solid #ffa726;
  border-left: 3px solid #ffa726;
  border-right: 3px solid #ffa726;
  color: #ffa726;
}
