.sidebar-content {
  background-color: #fafafa;
  height: calc(100% - 49px);
  overflow: hidden;
  position: relative;
  -webkit-transform: translateY(49px);
  transform: translateY(49px);
}

.sidebar-content > .scroller {
  position: absolute;
  width: 100%;
}

.sidebar-content .module {
  position: relative;
  margin: 12px auto;
}

.module.clone {
  left: 0;
  margin: 0;
  opacity: 0.6;
  position: absolute;
  top: 0;
  z-index: 9999;
}

.sidebar-content .module > *,
.module.clone > * {
  pointer-events: none;
}

.sidebar-content .module > .module-header,
.module.clone > .module-header {
  box-sizing: border-box;
  line-height: 29px;
  overflow: hidden;
  padding: 3px 8px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.module.clone > .module-header {
  background-color: #ffa726;
}

.sidebar-content .module > .module-content,
.module.clone > .module-content {
  border-radius: 0 0 3px 3px;
  font-size: 12px;
  line-height: 29px;
  overflow: hidden;
  padding-left: 8px;
  padding-right: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sidebar-content .module > .module-content {
  border-bottom: 3px solid #212121;
}

.module.clone > .module-content {
  border-bottom: 3px solid #ffa726;
  border-left: 3px solid #ffa726;
  border-right: 3px solid #ffa726;
  color: #ffa726;
}
