.wire-container {
  pointer-events: none;
  z-index: 0;
}

.wire {
  height: 1px;
  overflow: visible;
  position: absolute;
  width: 1px;
}

.wire-path {
  fill: none;
  stroke: #212121;
  stroke-width: 2;
}

.wire-path.highlighted {
  stroke: #f44336;
}

.wire-handle-container {
  z-index: 2;
}

.wire-handle {
  background-color: #212121;
  cursor: crosshair;
  height: 24px;
  position: absolute;
  width: 24px;
}

.wire-handle[data-type='prop'] {
  border-radius: 3px;
}

.wire-handle[data-type='event'] {
  border-radius: 50%;
}

.wire-handle.hide {
  display: none;
}

.wire-handle.highlighted {
  background-color: #f44336;
}
