<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title></title>
  <style>
    body {
      margin: 0;
    }
    #container {
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      font-family: monospace;
      font-size: 42px;
      padding-right: 6px;
      text-align: right;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }
  </style>
</head>
<body>
  <div id="container">
    <span id="text"></span>
  </div>
  <script src="../../js/piece.js"></script>
  <script>
  (function() {
    var textElement = document.getElementById('text');
    var countValue = 0;

    textElement.textContent = countValue;

    piece.initialize({
      label: 'Counter',
      prop: {
        count: {
          label: 'Count',
          out: function() {
            return countValue;
          },
          default: true
        }
      },
      event: {
        up: {
          label: 'Up',
          in: function() {
            countValue += 1;
            textElement.textContent = countValue;
            piece.updateProperty('count');
          },
          default: true
        },
        reset: {
          label: 'Reset',
          in: function() {
            countValue = 0;
            textElement.textContent = countValue;
            piece.updateProperty('count');
          }
        }
      }
    });
  }());
  </script>
</body>
</html>