<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title></title>
  <style>
    body {
      font-family: Helvetica;
      margin: 0;
    }
    form label {
      padding-right: 20px;
    }
    #file {
      width: 100%;
    }
  </style>
</head>
<body>
  <form id="form">
    <label>
      <input type="radio" name="dataType" value='text' checked></input>Text
    </label>
    <label>
      <input type="radio" name="dataType" value='dataurl'></input>
      data URL
    </label>
    <input type="file" id="file"></input>
  </form>
  <script src="../../js/piece.js"></script>
  <script>
  (function() {
    var currentFile = null;
    var fileData = null;
    var formElement = document.getElementById('form');

    function loadFile(file) {
      var reader = new FileReader();
      reader.onload = function() {
        currentFile = file;
        fileData = reader.result;
        piece.updateProperty('data');
      };
      reader.onerror = function() {
        currentFile = null;
        fileData = null;
        piece.updateProperty('data');
      };
      var radios = formElement.dataType;
      if (radios[0].checked)
        reader.readAsText(file);
      else if (radios[1].checked)
        reader.readAsDataURL(file);
    }
    
    formElement.addEventListener('change', function(event) {
      var target = event.target;
      var type = target.type;
      if (type === 'file') {
        var file = target.files[0];
        loadFile(file);
      } else if (type === 'radio') {
        if (currentFile !== null)
          loadFile(currentFile);
      }
    }, false);

    piece.initialize({
      label: 'File Load',
      prop: {
        data: {
          label: 'Data',
          out: function() {
            return fileData;
          },
          default: true
        }
      }
    });
  }());
  </script>
</body>
</html>