<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title></title>
  <style>
    body {
      background-color: black;
      margin: 0;
    }
    select {
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
    }
  </style>
</head>
<body>
  <select id="select" size="8"></select>
  <script src="../../js/lib.js"></script>
  <script src="../../js/piece.js"></script>
  <script>
  (function() {
    var data = null;
    var selectedKey = null;
    var currentValue = null;
    var selectElement = document.getElementById('select');

    selectElement.addEventListener('change', function(event) {
      selectedKey = selectElement.value;
      piece.updateProperty('selectedKey');
    }, false);

    function arrayToHash(array) {
      var hash = null;
      if (array.length % 2 === 0) {
        hash = {};
        for (var i = 0, len = array.length; i < len; i += 2) {
          hash[String(array[i])] = array[i + 1];
        }
      }
      return hash;
    }

    piece.initialize({
      label: 'Hash Table',
      prop: {
        data: {
          label: 'Data',
          in: function(value) {
            value = lib.util.parseObject(value);
            if (lib.util.isArray(value))
              value = arrayToHash(value);
            data = value;
            selectElement.innerHTML = '';
            if (lib.util.isObject(data)) {
              var frag = document.createDocumentFragment();
              for (var key in data) {
                var option = document.createElement('option');
                option.textContent = key + ': ' + data[key];
                option.value = key;
                frag.appendChild(option);
              }
              selectElement.appendChild(frag);
              if (!piece.isConnectedProperty('selectedKey'))
                selectedKey = null;
              selectElement.value = selectedKey;
            }
            piece.updateProperty('selectedKey');
            piece.updateProperty('key2value');
            piece.updateProperty('keys');
          },
          default: true
        },
        selectedKey: {
          label: 'Selected Key',
          in: function(value) {
            var key = lib.util.parseString(value);
            if (data && key in data)
              selectedKey = key;
            else
              selectedKey = null;
            selectElement.value = selectedKey;
            piece.updateProperty('selectedKey');
            if (piece.isConnectedProperty('selectedKey'))
              selectElement.setAttribute('disabled', true);
            else
              selectElement.removeAttribute('disabled');
          },
          out: function() {
            return selectedKey;
          },
          default: true
        },
        key2value: {
          label: 'Key -> Value',
          in: function(value) {
            var key = lib.util.parseString(value);
            if (data && key in data)
              currentValue = data[key];
            else
              currentValue = null;
            piece.updateProperty('key2value');
          },
          out: function() {
            return currentValue;
          },
          default: true
        },
        keys: {
          label: 'Keys',
          out: function() {
            return data ? Object.keys(data) : null;
          }
        }
      }
    });
  }());
  </script>
</body>
</html>