<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title></title>
  <style>
    body {
      background-color: black;
      margin: 0;
    }
    select {
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
    }
  </style>
</head>
<body>
  <select id="select" size="8"></select>
  <script src="../../js/lib.js"></script>
  <script src="../../js/piece.js"></script>
  <script>
  (function() {
    var data = null;
    var selectedIndex = -1;
    var currentValue = null;
    var selectElement = document.getElementById('select');

    selectElement.addEventListener('change', function(event) {
      selectedIndex = selectElement.selectedIndex;
      piece.updateProperty('selectedIndex');
    }, false);

    piece.initialize({
      label: 'List',
      prop: {
        data: {
          label: 'Data',
          in: function(value) {
            value = lib.util.parseArray(value);
            data = value;
            selectElement.innerHTML = '';
            if (lib.util.isArray(data)) {
              var frag = document.createDocumentFragment();
              for (var i = 0, len = data.length; i < len; i += 1) {
                var option = document.createElement('option');
                option.textContent = i + ': ' + data[i];
                frag.appendChild(option);
              }
              selectElement.appendChild(frag);
              if (!piece.isConnectedProperty('selectedIndex'))
                selectedIndex = -1;
              selectElement.selectedIndex = selectedIndex;
            }
            piece.updateProperty('selectedIndex');
            piece.updateProperty('index2value');
            piece.updateProperty('size');
          },
          default: true
        },
        selectedIndex: {
          label: 'Selected Index',
          in: function(value) {
            var index = lib.util.parseNumber(value);
            if (data && data[index] !== undefined)
              selectedIndex = index;
            else
              selectedIndex = -1;
            selectElement.selectedIndex = selectedIndex;
            piece.updateProperty('selectedIndex');
            if (piece.isConnectedProperty('selectedIndex'))
              selectElement.setAttribute('disabled', true);
            else
              selectElement.removeAttribute('disabled');
          },
          out: function() {
            return (selectedIndex !== -1) ? selectedIndex : null;
          },
          default: true
        },
        index2value: {
          label: 'Index -> Value',
          in: function(value) {
            var index = lib.util.parseNumber(value);
            if (data && data[index] !== undefined)
              currentValue = data[index];
            else
              currentValue = null;
            piece.updateProperty('index2value');
          },
          out: function() {
            return currentValue;
          },
          default: true
        },
        size: {
          label: 'Size',
          out: function() {
            return data ? data.length : null;
          }
        }
      }
    });
  }());
  </script>
</body>
</html>